.bg{
    background-color: #e1edef94;
    /* background-image: url(../../../public/images/bg2.jpg); */
    min-height: 100vh;
}
.profileside{
    position:fixed;z-index: 1;
}
/* .sotrside{
    position:fixed;
    align-items: end;
} */

.sotrside {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}


.searchpadding{
    padding-top: 8px;
    padding-top: 8px;
}

.profileimagesection{
    width: 7rem; /* Set the desired width and height for the circle */
  height: 7rem;
  border-radius: 50%; /* Create a perfect circle using border-radius */
  overflow: hidden; 
}
.imgprofile{
    width: 3rem; /* Set the desired width and height for the circle */
  height: 3rem;
  border-radius: 50%; /* Create a perfect circle using border-radius */
  overflow: hidden; 
}

.profileimages{
    width: 100%;
    height: 100%;

    background-size: fill;
}
.username{
    font-size: 1.3rem;
    font-weight: 650;
}
.stack{
    font-weight: 700;
}
.profiletext{
    font-size: 1.2rem;
    font-weight: 800;
    /* background: rgba(9,9,121,1);
    background: radial-gradient(circle farthest-side at center center,rgba(0,212,255,1) 11%,rgb(1, 36, 62) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: rgb(36, 36, 205);
    background: radial-gradient(circle farthest-side at center center, rgba(0, 212, 255, 1) 11%, rgb(7, 76, 129) 90%);
    background-clip: text;
    color: transparent;
}



.btn1-grad {
    background-image: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(0,212,255,1)  51%, rgb(20, 20, 91) 100%);
    /* margin: 10px; */
    padding: 10px 45px;
    text-decoration: none;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 700;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    /* transition-duration: 10000ms; */
  }

  .btn1-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .location{
    margin-top: -8px;
  }

           
  .btn-gradde {
    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
    /* margin: 10px; */
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    /* width: 100px; */
    cursor: pointer;
  }

  .btn-gradde:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .profilepagepic{
    margin-top: 6rem;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    /* transition: smooth; */
    object-fit: cover;
    position: center;
    
  }
  .positionimg{
    display: flex;
    justify-content: center;
  }

  .profilebgcolor{
    /* background-color: #b4c5ce4e; */
    background-image: linear-gradient(to right, #56cbf23a 0%, #2f81ed3c  51%, #56cbf23a  100%);
/* margin-top: -300px; */
    /* border: 0.01px solid #56a1f2b3; */
  }

/* 
  .Toastify__toast--zoom {
    animation: zoomIn 0.2s ease;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  } */


  .profileUserImg{ 
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    /* position: absolute;  */
    left: 0; 
    right: 0; 
    margin: auto; 
    top: 150px; 
    border: 3px solid white; 
}
/* .hovershadow{
  transition-duration: ;
} */
.hovershadow:hover .hai {
  box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.086);
  -webkit-box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.091);
  -moz-box-shadow: 0px 0px 27px 7px rgba(0, 0, 0, 0.111);
}
.postImg1{ 
  /* margin-top: 20px;  */
  width: 100%; 
  max-height: 450px; 
  object-fit: contain; 
}

.postImgpro{ 
  /* margin-top: 20px;  */
  width: 100%; 
  max-height: 200px; 
  object-fit: contain; 
}
 

